#include "resource.h"

// RESOURCE_NAME  RESOURCE_TYPE  "path/to/file"
KNMHOOKER_FILE         DLL            "knmhooker.dll"
//IDR_KNMHOOKER           BINARY  MOVEABLE PURE   "knmhooker.dll"

// GLOBAL STRINGTABLE
STRINGTABLE  
BEGIN
   IDC_BIGMOUSE   "BIGMOUSE"
   IDS_APP_TITLE  "BigMouse"
END
